.pokemon-details {
  width: 300px;
  min-height: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;

  &__photo {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__characteristics {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .characteristic__name {
      margin: auto 15px auto 0;
    }

  }
}

.progress {
  width: 120px;
}