.main {
  min-height: 100vh;
  background-image: url('../../images/background-home.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-weight: 700;
}

.pokemon-results__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}