.pokemon-results {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pokemon-card {
    list-style: none;
    padding: 10px;
    margin: 5px;
    width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
  }
}